* {
  font-family: "Space Mono", mono space;
  color: #00f;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fcfcfc;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.noDisplay {
  display: none;
}

#firstPage,
#secondPage,
#thirdPage {
  background-size: 10vh 10vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 255, 0.1) 1px, transparent 1px);
}

/* Fade-in effect */
#work,
#about,
#B-side,
#resume {
  opacity: 0;
  transition: opacity 0.5s;
}

p {
  color: #00f;
  font-size: 1.2vw;
  line-height: 2;
}

a {
  text-decoration: none;
}

a:hover {
  color: #050505;
}

a:active {
  color: #050505;
}

/* Nav bar */

.nav-link {
  color: rgba(0, 0, 255, 0.5);
  cursor: pointer;
}

.nav-link:hover {
  color: rgba(0, 0, 255);
}

.nav-link:active,
.active {
  font-weight: 700;
  color: #00f;
}

.menu-nav {
  position: fixed;
  top: 44%;
  left: 4%;
  line-height: 2;
  z-index: 99;
}

.nav-item {
  list-style: none;
  margin-right: 4vw;
  font-size: 0.8vw;
}

/* Home page */
section {
  height: 100vh;
}

/* section {
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.loading {
  background: #fcfcfc;
}

.loaded section {
  opacity: 1;
} */

.intro {
  /* position: absolute; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.6fr 1fr 1fr 1fr;
  justify-items: start;
  align-items: center;
  width: 72%;
  left: 14%;
  margin: auto;
  height: 100vh;
}

.profileImage {
  grid-row: 2/4;
  grid-column: 3/4;
  align-self: center;
  position: relative;
}

.offsetImage {
  max-width: 90%;
  height: auto;
  object-fit: cover;
  border: 1px solid #00f;
  opacity: 0.95;
  border-radius: 50%;
  margin-left: 2vw;
}

.profileText {
  grid-row: 2/4;
  grid-column: 1/3;
  align-self: center;
  padding-right: 6vw;
  padding-left: 2vw;
}

/* Resume Link */

.highLight {
  color: #ff6a21;
  font-weight: 700;
}

.profileName {
  font-size: 2.4vw;
  font-weight: 700;
  margin-bottom: 2vw;
}

/* Image Link */

.phd,
.dance,
.cat {
  font-style: italic;
  color: rgba(0, 0, 255, 0.5);
}

.phd:hover,
.dance:hover,
.cat:hover {
  font-weight: 700;
  font-style: normal;
  color: #00f;
}

.cat span,
.dance span,
.phd span {
  position: fixed;
  display: none;
}

.cat:hover span,
.dance:hover span,
.phd:hover span {
  display: block;
}

.phdImage {
  position: fixed;
  width: 20%;
  top: 10%;
  left: -5vw;
  margin: 0;
  transform: rotate(45deg);
}

.danceImage {
  position: fixed;
  width: 36%;
  top: 25%;
  right: -15vw;
  margin: 0;
  transform: rotate(-30deg);
}

.catImage {
  position: fixed;
  width: 16%;
  top: 40%;
  left: 54%;
  margin: 0;
  transform: rotate(-4deg);
}

/* social media icons */

.icons {
  display: block;
  margin-top: 4em;
}

.fab,
.far {
  margin-right: 2vw;
  color: rgba(0, 0, 255, 0.25);
}

.fab:hover,
.far:hover,
.fa-border:hover {
  color: #00f;
}

.fab:active,
.far:active,
.fa-border:active {
  color: #00f;
  transform: translate(2px, 2px);
}

.button {
  grid-area: 4/2/5/3;
  align-self: center;
  justify-self: center;
  text-align: center;
}

#btn-seeMore,
#btn-seeMore:focus,
#btn-seeMore:visited {
  outline: none;
  display: block;
  border: none;
  background-color: #ff6a21;
  color: #fcfcfc;
  font-size: 1.2vw;
  border-radius: 4px;
  padding: 0.4em 0.6em;
}

#btn-seeMore:hover {
  background-color: #fd8c57;
  border: none;
}

#btn-seeMore:active {
  background-color: #ff6a21;
  color: #fcfcfc;
  border: none;
  transform: translate(2px, 2px);
  box-shadow: 1px 1px #fd8c57;
}

.arrow {
  margin-top: 1.2em;
  left: 40%;
  position: relative;
}

.arrow span {
  display: block;
  width: 1em;
  height: 1em;
  border-bottom: 0.2em solid #ff6a21;
  border-right: 0.2em solid #ff6a21;
  transform: rotate(45deg);
  margin-bottom: -0.8em;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-0.8em, -0.8em);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(0.8em, 0.8em);
  }
}

/* Grid Work */

.workSectionOne,
.workSectionTwo {
  position: absolute;
  display: grid;
  grid-template-areas:
    "one two"
    "three four";
  grid-gap: 10vh 4vw;
  align-self: center;
  width: 100vw;
  height: 100vh;
}

.quoteSectionOne {
  grid-area: one;
  max-width: 32vw;
  height: 20vh;
  margin-bottom: 6vh;
}

.quotes {
  max-width: 100%;
  font-size: 1.8vw;
  font-weight: 700;
  padding: 0 3vw;
}

.projectImage {
  width: 32vw;
  height: 40vh;
  border: 1px solid rgba(0, 0, 255, 0.5);
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  display: grid;
  grid-template-rows: 20px auto;
  align-self: center;
  top: 0;
  height: 40vh;
  width: 32vw;
  opacity: 0;
  border-radius: 10px;
  transition: 0.5s ease;
  background-color: #fcfcfc;
  border: 1px solid rgba(0, 0, 255, 0.75);
  /* background-color: rgba(0, 0, 255, 0.75); */
}

.bl-box:hover .overlay {
  opacity: 0.95;
}

.line {
  grid-area: 1/1/2/2;
  border-bottom: 1px solid #00f;
}

.circle {
  display: inline-block;
  margin: 5px 0 5px 1vw;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #00f;
}

.text {
  width: 80%;
  color: #00f;
  font-size: 2.4vw;
  position: absolute;
  top: 37%;
  left: 30%;
  -webkit-transform: translate(-30%, -37%);
  -ms-transform: translate(-30%, -37%);
  transform: translate(-30%, -37%);
  text-align: start;
  font-weight: 700;
}

.text p {
  margin-top: 8px;
}

.readMore {
  color: #00f;
  font-size: 0.8vw;
  position: absolute;
  bottom: 10%;
  right: 5%;
  -webkit-transform: translate(-5%, -10%);
  -ms-transform: translate(-5%, -10%);
  transform: translate(-5%, -10%);
  text-align: end;
}

.P1 {
  grid-area: two;
  max-width: 100%;
  margin-bottom: -3vh;
}

.quoteSectionOne,
.P2,
.P4,
.P5 {
  justify-self: end;
}

.quoteSectionTwo,
.P1,
.P3,
.P6 {
  justify-self: start;
}

.quoteSectionOne,
.P1,
.P4,
.quoteSectionTwo {
  align-self: end;
}

.P2,
.P5 {
  grid-area: three;
  max-width: 100%;
}

.P3,
.P6 {
  grid-area: four;
  max-width: 100%;
}

.quoteSectionTwo {
  grid-area: two;
  max-width: 32vw;
  height: 20vh;
  margin-bottom: 6vh;
}

.P4 {
  grid-area: one;
  max-width: 100%;
  margin-bottom: -3vh;
}

/* cross box */
.quoteSectionOne,
.quoteSectionTwo {
  /* background: linear-gradient(
      to top left,
      rgba(0, 0, 225, 0) 0%,
      rgba(0, 0, 225, 0) calc(50% - 0.8px),
      rgba(0, 0, 225, 0.5) 50%,
      rgba(0, 0, 225, 0) calc(50% + 0.8px),
      rgba(0, 0, 225, 0) 100%
    ),
    linear-gradient(
      to top right,
      rgba(0, 0, 225, 0) 0%,
      rgba(0, 0, 225, 0) calc(50% - 0.8px),
      rgba(0, 0, 225, 0.5) 50%,
      rgba(0, 0, 225, 0) calc(50% + 0.8px),
      rgba(0, 0, 225, 0) 100%
    ); */
  /* border: 1px solid rgba(0, 0, 255, 0.5);
  border-radius: 10px; */
}

/* Pop up window */
.bl-box {
  cursor: pointer;
  position: relative;
}

.bl-content {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid #00f;
  background-color: #fcfcfc;
  padding: 0;
}

/* Hidden Scroll bar with function */
.bl-content::-webkit-scrollbar {
  display: none;
}

.bl-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bl-main > .project.bl-expand-top {
  z-index: 100;
}

/* For Transition */
.bl-main > .project {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.bl-main > .project.bl-expand {
  grid-area: 1/1/5/5;
  justify-self: center;
  align-self: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bl-main > .project:nth-child(2).bl-expand {
  background: #fcfcfc;
}
.bl-main > .project:nth-child(3).bl-expand {
  background: #fcfcfc;
}
.bl-main > .project:nth-child(4).bl-expand {
  background: #fcfcfc;
}

.bl-main > .project.bl-expand-top {
  z-index: 100;
}

.bl-main.bl-expand-item > .project:not(.bl-expand),
.bl-main.bl-expand-item > .project.bl-scale-down {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}

.bl-box {
  -webkit-transition: opacity 0.2s linear 0.2s;
  -moz-transition: opacity 0.2s linear 0.2s;
  transition: opacity 0.2s linear 0.2s;
}

.project.bl-expand .bl-box {
  opacity: 0;
  -webkit-transition: opacity 0s linear;
  -moz-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

.bl-box .projectImage {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* Close Popup Speed */
.bl-content,
.bl-icon-close {
  -webkit-transition: opacity 0s linear 0s;
  -moz-transition: opacity 0s linear 0s;
  transition: opacity 0s linear 0s;
}

/* Popup Speed */
.project.bl-expand .bl-content,
.project.bl-expand .bl-icon-close {
  pointer-events: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear 0.5s;
  -moz-transition: opacity 0.3s linear 0.5s;
  transition: opacity 0.3s linear 0.5s;
}

/* Close Icon */
.bl-icon {
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.bl-icon:before {
  display: block;
}

.bl-icon-close {
  position: fixed;
  font-size: 0.8vw;
  padding: 2px 8px;
  background-color: #fcfcfc;
  border: 1px solid #00f;
  right: 2%;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}

.closeTwo {
  top: 202%;
}
.closeOne {
  top: 102%;
}

.bl-icon-close:hover {
  color: rgba(0, 0, 255, 0.5);
}

.bl-icon-close:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px #00f;
}

/* End */

.fa-arrow-up {
  color: #00f;
}

.fa-arrow-up:hover {
  color: rgba(0, 0, 255, 0.5);
}

.fa-arrow-up:active {
  color: #00f;
  transform: translateX(1px);
  transform: translateY(1px);
}
