html {
  font-size: 16px;
  /* letter-spacing: 0.2ex; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 2s ease-in;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  color: #000;
}

/* Nav bar */

.nav-link {
  color: #00000070;
  cursor: pointer;
  /* letter-spacing: 0.08ex; */
}

.nav-link:hover {
  color: #000;
}

.nav-link:active,
.menu-nav li.active a {
  font-weight: 600;
  color: #000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background-color: #fff;
  line-height: 48px;
  z-index: 99;
  padding: 20px 2vw;
}

.menu-nav {
  float: right;
}

.nav-item {
  list-style: none;
  display: inline-block;
  margin-right: 2vw;
  font-size: 1.2em;
  text-align: end;
}

.fadethisdiv {
  opacity: 0;
}

.logo {
  width: 48px;
  height: 48px;
}

.intro {
  text-align: center;
  margin: 0 auto;
  padding-top: 160px;
  width: 60vw;
  min-width: 400px;
  padding: 0 auto;
}

.orange {
  color: #ff6a21;
}

.blue {
  color: #348bfd;
}
.darkGrey {
  color: #1c1c1e;
}

.green {
  color: #008120;
}

.yellow {
  color: #feb006;
}

.purple {
  color: #6f01ff;
}

h1 {
  font-size: 4.2em;
  line-height: 1.2;
  margin-bottom: 40px;
}

h2 {
  font-size: 3.2em;
  line-height: 1.2;
  margin: 0.2em 0 1em 0;
}

h3 {
  font-size: 1.6em;
  line-height: 1.4;
  /* letter-spacing: 0.05ex; */
}

p {
  font-size: 1.2em;
  line-height: 1.4;
  font-weight: 400;
  /* letter-spacing: 0.08ex; */
}

.tagline {
  width: 52%;
  margin: 0 24%;
}

.CTA {
  margin-top: 40px;
}

.demoLink {
  font-weight: 700;
  font-size: 1.2em;
  text-decoration: none;
}

.arrow {
  border: solid #000;
  border-width: 0 4px 4px 0;
  display: inline-block;
  height: 8px;
  padding: 4px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.holder {
  padding: 0;
  width: 60vw;
  max-width: 1000px;
  min-width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.demo {
  width: 100.5%;
  margin-top: 6em;
  border: none;
}

.feature {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  margin: 100px 0;
  padding: 160px 12vw;
  background-color: #ffffff;
}

.description {
  padding: 0 4vw 0 0;
  width: 38vw;
}

.videoHolder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 42vw;
  height: 540px;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}

.demoVideoOne {
  width: 34vw;
  border: 2px solid #000;
  border-radius: 4px;
}

.demoImageTwo {
  width: 22vw;
  height: 7vw;
  border: 2px solid #ff6a21;
  border-radius: 0;
  object-fit: cover;
}

.demoVideoThree {
  width: 26vw;
  border: 2px solid #000;
  border-radius: 4px;
  height: 20vw;
  object-fit: cover;
}

.demoImageFour {
  width: 28vw;
  height: 10vw;
  padding: 2vw;
  border: 2px solid #348bfd;
  border-radius: 0;
  object-fit: contain;
}

.demoVideo {
  width: 50vw;
}

footer {
  background-color: #fff;
  border-top: 1px solid #00000025;
  color: #000;
  text-align: center;
  height: 100px;
  width: 100vw;
  padding: 32px 0;
  font-size: 1em;
  /* letter-spacing: 0.05ex; */
  font-weight: 500;
  line-height: 36px;
}
