/* Petography */

.organized {
  grid-area: 2/1/3/2;
}

.creative {
  grid-area: 2/2/3/3;
}

.occupied {
  grid-area: 2/3/3/4;
}

.organized,
.creative,
.occupied {
  justify-self: center;
  align-self: center;
  border: 12px solid #fff;
}

.visuals {
  position: relative;
  width: 70vw;
  left: 16%;
  height: 39vw;
  background-color: #fcfcfc;
}

.styleImage {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
  border: 2px solid #050505;
  box-shadow: 8px 8px #050505;
}

.sideText {
  margin-left: 0vw;
}

.iterationImage {
  width: 100%;
}

.tvImage {
  width: 100%;
  height: 32vw;
  vertical-align: middle;
  object-fit: cover;
}

.tvVideo {
  height: 45vh;
  object-fit: cover;
  position: relative;
  background-color: none;
}

/* TiggerKeeper */
.gridSeventeen {
  position: relative;
  width: 70%;
  left: 15%;
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 0.5fr 200px 1fr;
}

.subheadingSeventeen {
  grid-area: 1/1/2/4;
  text-align: center;
  width: 50%;
  font-size: 1.8vw;
  padding: 20px;
  background-color: #fcfcfc;
  border: 2px solid #050505;
  box-shadow: 8px 8px #050505;
  justify-self: center;
  align-self: center;
}

.gridSeventeen-titleOne {
  grid-area: 2/1/3/2;
  align-self: center;
  border: 2px solid #050505;
  padding: 0 2vw;
}

.labelText {
  grid-area: 2/1/3/2;
  font-size: 0.8vw;
  color: #fcfcfc;
  padding: 0.5vw 1vw;
  align-self: center;
  justify-self: center;
  transform: translate(5vw, -2vw);
}

.gridSeventeen-itemOne {
  grid-area: 3/1/4/2;
}

.gridSeventeen-titleTwo {
  grid-area: 2/2/3/3;
  align-self: center;
}

.gridSeventeen-itemTwo {
  grid-area: 3/2/4/3;
}

.gridSeventeen-titleThree {
  grid-area: 2/3/3/4;
  align-self: center;
}

.gridSeventeen-itemThree {
  grid-area: 3/3/4/4;
}

.gridSeventeen-titleOne,
.gridSeventeen-titleTwo,
.gridSeventeen-titleThree,
.gridSeventeen-itemOne,
.gridSeventeen-itemTwo,
.gridSeventeen-itemThree {
  justify-self: center;
  text-align: center;
}

.gridEighteen {
  position: relative;
  width: 70%;
  left: 15%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 0.5fr 1fr;
}

.subheadingEighteen {
  grid-area: 1/1/2/4;
  text-align: center;
  width: 50%;
  font-size: 1.8vw;
  padding: 20px;
  background-color: #fcfcfc;
  border: 2px solid #050505;
  box-shadow: 8px 8px #050505;
  justify-self: center;
  align-self: center;
}

.gridEighteen-titleOne {
  grid-area: 2/1/3/2;
  align-self: end;
}

.gridEighteen-itemOne {
  grid-area: 3/1/4/2;
}

.gridEighteen-titleTwo {
  grid-area: 2/2/3/3;
  align-self: end;
}

.gridEighteen-itemTwo {
  grid-area: 3/2/4/3;
}

.gridEighteen-titleThree {
  grid-area: 2/3/3/4;
  align-self: end;
}

.gridEighteen-itemThree {
  grid-area: 3/3/4/4;
}

.gridEighteen-titleOne,
.gridEighteen-titleTwo,
.gridEighteen-titleThree,
.gridEighteen-itemOne,
.gridEighteen-itemTwo,
.gridEighteen-itemThree {
  justify-self: center;
  text-align: center;
  width: 80%;
}

.gridEighteen-itemOne,
.gridEighteen-itemTwo,
.gridEighteen-itemThree {
  margin-top: 2vw;
}

.cmv,
.cv,
.nlp {
  width: 6vw;
  object-fit: contain;
}

.comps_styleTwo {
  position: relative;
  width: 100%;
  top: 20vh;
  overflow: hidden;
}

.compImage {
  width: 70vw;
  object-fit: contain;
}

.explanation_styleTwo {
  position: relative;
  width: 30%;
  left: 70%;
  top: 19vh;
  text-align: end;
}

.comps_styleThree {
  position: relative;
  width: 100%;
  top: 2vh;
  overflow: hidden;
}

.explanation_styleThree {
  position: relative;
  width: 30%;
  left: 70%;
  top: 1vh;
  text-align: end;
}

/* HealthFusion */

.a-anno {
  font-weight: 700;
  color: #050505;
  text-decoration: underline;
}

.a-anno:focus,
.a-anno:active,
.a-anno:hover {
  color: #348bfd;
}

.a-anno .a-annotation {
  position: absolute;
  transform: translate(-4vw, -6vh);
  width: 25vw;
  font-size: 1.2vw;
  line-height: 2;
  padding: 10px 20px;
  background-color: #fff;
  border: 2px solid #050505;
  box-shadow: 8px 8px #050505;
  visibility: hidden;
  text-align: start;
}

.a-anno:hover .a-annotation {
  visibility: visible;
}

.sketches-moveup {
  position: relative;
  width: 70%;
  left: 16%;
  height: 39vw;
  top: 0;
  border: 2px solid #050505;
  background-color: #fff;
  box-shadow: 8px 8px #050505;
}

.herovideo {
  position: relative;
  margin-top: 200px;
  transform: translateX(-400px);
  left: 50vw;
}

/* Unbuilt Labs */
.guide-container {
  text-align: center;
  width: 100%;
}

.guide-link {
  width: 50vw;
  height: 45vw;
  border: 2px solid #050505;
}

.guideImage {
  width: 100%;
}

/* Responsive */
/* @media only screen and (min-aspect-ratio: 16/9) {
  .index-items {
    font-size: 20px;
  }

  .index-items:visited,
  .index-items:hover {
    font-size: 20px;
  }
} */

@media only screen and (min-width: 960px) {
  .sidebar {
    position: fixed;
    display: grid;
    grid-template-columns: auto 50px;
    left: -400px;
    top: 50%;
    transform: translateY(-200px);
    z-index: 99;
    width: 450px;
    height: 400px;
  }

  .fa-angle-right {
    font-size: 40px;
    top: 46%;
    left: 24%;
    transition: all 0.2s ease-in-out;
    cursor: default;
  }

  .sidebar:hover .fa-angle-right {
    color: #050505;
  }

  .sidebar:hover {
    transform: translate(400px, -200px);
  }

  .index-items {
    font-size: 1.2rem;
  }

  .index-items:hover {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 960px) and (min-height: 540px) {
  .hideonMobile {
    display: none;
  }

  h2 {
    font-size: 2rem;
  }

  h6,
  .boldText {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  /* project bodycopy */
  p,
  .bodyCopySeven,
  .approaches li {
    font-size: 1rem;
  }

  .gridOne,
  .gridTwo,
  .gridFour,
  .gridFive,
  .gridFive-movedown,
  .gridSeven,
  .gridTwelve,
  .gridThirteen,
  .gridFifteen {
    display: flex;
    flex-direction: column;
    width: 75vw;
    align-items: center;
  }

  .gridFive-movedown {
    padding-top: 12em;
  }

  .subheadingFour,
  .subheadingSeven,
  .subheadingThirteen {
    margin: 2em 0;
    text-align: center;
  }

  .subheadingOne {
    margin: 6em 0 2em 0;
    text-align: center;
  }

  .subheadingTwo {
    margin-top: -6em;
  }

  .subheadingTwo,
  .subheadingSeventeen,
  .subheadingEighteen {
    font-size: 1.4rem;
    width: 50%;
  }

  .subheadingSixteen,
  .subheadingFourteen,
  .subheadingFive {
    font-size: 1.4rem;
    width: 80%;
  }

  .gridTwo-itemOne,
  .gridTwo-itemTwo,
  .gridTwo-itemThree {
    width: 75vw;
    text-align: center;
  }

  .thumbnail {
    width: 80px;
    height: 80px;
    margin-top: 2em;
  }

  .tag {
    font-size: 0.6rem;
  }

  .sideText {
    margin-left: 0;
  }

  .slideshow,
  .slideshowTwo {
    width: 90vw;
    left: 5vw;
    height: 60vw;
    top: 50%;
    transform: translateY(-30vw);
  }

  .prev,
  .next {
    font-size: 8px;
  }

  .IA {
    margin-top: 2em;
    width: 100vw;
    left: 0;
  }

  .sketches,
  .ideation,
  .visuals,
  .sketches-moveup {
    width: 95vw;
    height: 56vw;
    left: 2vw;
  }

  .gridEight,
  .gridNine,
  .gridFifteen,
  .gridSeventeen,
  .gridEighteen,
  .compImage {
    width: 95vw;
    left: 2vw;
  }

  .explanation {
    font-size: 0.8em;
    width: 100%;
    left: 0;
    padding-right: 1em;
  }

  .btn-project-close {
    font-size: 1rem;
  }

  .comps {
    height: 50vh;
    width: 95vw;
    left: 2vw;
  }

  .sidevideo-mobile {
    width: 100vw;
    overflow: visible;
  }

  .sidenotes-mobile {
    font-size: 1em;
    margin-top: 6.5em;
  }

  .sidevideo {
    width: 100%;
  }

  .demoVideo {
    width: 150%;
    padding: 2em 0;
  }

  .recommendation {
    padding-top: 4em;
  }

  .tvImage {
    width: 100%;
    height: 44vw;
  }

  .tvVideo {
    margin-top: 4em;
  }

  .landscapeVideo {
    width: 36%;
  }

  .herovideo {
    width: 71vw;
    height: 40vw;
    left: 50%;
    transform: translateX(-35vw);
  }

  .index-items {
    font-size: 1rem;
  }

  .index-items:hover,
  .index-items:active {
    font-size: 1rem;
  }

  .guide-link {
    width: 72vw;
    height: 60vw;
  }

  .mobileVideo {
    height: 50vh;
  }

  .brief {
    width: 90vw;
    left: 5vw;
  }
}

@media only screen and (max-width: 960px) {
  .sidebar {
    width: 380px;
    left: -360px;
    grid-template-columns: auto 20px;
  }

  .sidebar:hover {
    transform: translate(360px, -200px);
  }

  .index-indicator {
    height: 95%;
  }

  .fa-angle-right {
    font-size: 24px;
    margin: 0;
    left: 6px;
  }
}

@media only screen and (max-width: 560px) {
  .sidebar {
    width: 380px;
    left: -360px;
    grid-template-columns: auto 20px;
  }

  .sidebar:hover {
    transform: translate(360px, -200px);
  }

  .index-indicator {
    height: 95%;
  }

  .fa-angle-right {
    font-size: 24px;
    margin: 0;
    left: 6px;
  }

  h5,
  p,
  .iteration,
  .bodyCopySeven,
  .responsive,
  .approaches li {
    font-size: 14px;
  }

  .iteration {
    bottom: 3px;
  }

  h6,
  .boldText {
    font-size: 14px;
  }

  .short {
    height: 50vh;
  }

  .gap {
    height: 0;
  }

  .guide-link {
    width: 480px;
    height: 360px;
  }

  h3 {
    font-size: 20px;
  }

  .subheadingTwo,
  .subheadingFive,
  .subheadingFourteen,
  .subheadingSixteen {
    font-size: 20px;
    width: 100%;
    padding: 10px;
  }

  .subheadingSeventeen,
  .subheadingEighteen {
    width: 80%;
    padding: 10px;
  }

  .IA,
  .sketches,
  .visuals,
  .slideshow,
  .slideshowTwo,
  .sketches-moveup {
    width: 80vw;
    margin: 0 10vw;
  }

  .sketches,
  .visuals,
  .slideshow,
  .sketches-moveup {
    height: 50vw;
  }

  .IA {
    margin: 40px 10vw;
  }

  .sidenotes-mobile {
    line-height: 1.6;
    font-size: 14px;
  }

  .mobileVideo {
    width: 30vw;
    height: auto;
  }

  .tvVideo {
    height: auto;
    width: 100%;
  }

  .landscapeVideo {
    width: 40vw;
  }

  .sidevideo-mobile {
    margin-top: 80px;
  }

  .labelText {
    transform: translate(6vw, -4vw);
  }

  .text {
    font-size: 8px;
    top: -8px;
  }

  .dots {
    margin-top: 0;
  }

  .dot {
    width: 10px;
    height: 10px;
  }
}

@media only screen and (max-width: 420px) {
  .sidebar {
    width: 280px;
    left: -240px;
    grid-template-columns: auto 40px;
  }

  .sidebar:hover {
    transform: translate(240px, -200px);
  }

  .index-indicator {
    height: 95%;
  }

  .fa-angle-right {
    font-size: 20px;
    margin: 0;
    left: 16px;
  }

  .index-items,
  .explanation {
    font-size: 0.8rem;
  }

  .index-items:hover,
  .index-items:active {
    font-size: 0.8rem;
  }

  .iteration {
    font-size: 0.5rem;
    bottom: 0.2rem;
  }

  .gridFifteen {
    width: 95vw;
    left: 2vw;
  }

  .btn-project-close {
    font-size: 0.8rem;
  }

  #projectBody h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 1em;
  }

  .subheadingFive,
  .subheadingFourteen,
  .subheadingSixteen {
    font-size: 1em;
    width: 100%;
    padding: 10px;
  }

  .subheadingTwo,
  .subheadingSixteen,
  .subheadingSeventeen,
  .subheadingEighteen {
    font-size: 1em;
    width: 80%;
    padding: 10px;
  }

  .subheadingFourteen {
    height: auto;
  }

  h6,
  .boldText {
    font-size: 0.7em;
  }

  /* project bodycopy */
  h5,
  p,
  .bodyCopySeven,
  .responsive,
  .approaches li {
    font-size: 0.9em;
  }

  .text {
    top: -0.5rem;
  }

  .dots {
    margin-top: 0;
  }

  .dot,
  .dotTwo {
    width: 10px;
    height: 10px;
  }

  .sidenotes-mobile {
    font-size: 0.8em;
    line-height: 1.5;
    margin: 4em;
  }

  .guide-link {
    width: 300px;
    height: 270px;
  }

  .IA {
    margin: 40px 10vw;
  }

  .projectOverview,
  .projectType,
  .projectResult,
  .projectTimeline {
    width: 80%;
  }

  .IA_scroll {
    height: 50vh;
    margin-top: 40px;
  }
}
